*{
    margin: 0;
}
.box{
    width: 300px;
    height: 80px;
    background-color: aqua;
    color: black;
    border: 3px solid black;
}
.box-one{
    margin-left:720px;
    margin-right: 80px;
}
.box-two{
    margin-left: 720px;
    margin-top: 600px;
}



