.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.parent{
    width: 80%;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-gap: 20px;
    background-color: aquamarine;
    
}
.child{
    border:1px solid black;
}
.bg-success{
    background-color: green;
}
.bg-danger{
    background-color: red;
}
.bg-warning{
    background-color: yellow;
}
.parent .child:nth-child(1){
    grid-row-start: 1;
    grid-row-end: 4;
}
.parent .child:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 4;
}
.parent .child:nth-child(8){
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;

}

