.body{
    background-color: black;
    color: white;
}

.row{
    width:80%;
    height:400px ;
    background-color:aqua ;
    color: black;
    

}
.col{
    width: 50%;
    height:200px ;
    background-color:rgb(255, 127, 120);
}